.navbar {
  background: #535151;
  height: 87px;
}
.navbar a {
  text-decoration: none;
}

.navbar .hover-line a {
  color: #f8f8ff;
  z-index: 100;
}
.navbar .underline {
  display: block;
  content: "";
  border-bottom: solid 2px #d7b686;
}
.hover-line:after {
  display: block;
  content: "";
  border-bottom: solid 2px #d7b686;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}
